__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
.eggs/
.pytest_cache/
.tox/
.venv/
venv/
*.so
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pdb.gz
pdb_cache/
results/*.pdb
!results/*_D_mirror.pdb
!results/3IWY.pdb
